{% extends "base.html" %}


{% block title %}  {{ product.name }} {% endblock %}



{% block content %}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ product.thumbnail.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="d-flex col-mb-3">
                        <h5> <span class="badge bg-dark me-1">{{ product.category.category_name }}</span></h5>
                        {% if product.stock <= 0 %}  <h5><span class="badge bg-danger ms-3">{{ current_settings.textLanguage.product_out_of_stock_text }}</span></h5>
                       {% else %}
                           {% if current_settings.product_last_chance_number >= product.stock %} <h5><span class="badge bg-danger ms-2">{{ current_settings.textLanguage.product_last_chance_text }}</span></h5> {% endif %}
                           {% if product.is_new  %} <h5><span class="badge bg-warning me-1">{{ current_settings.textLanguage.product_new_text }}</span></h5> {% endif %}
                           {% if product.is_featured %} <h5><span class="badge bg-info me-1"> {{ current_settings.textLanguage.product_featured_text }}</span></h5> {% endif %}
                           {% if product.is_best_seller %} <h5><span class="badge bg-success me-1"> {{ current_settings.textLanguage.product_best_seller_text }}</span></h5> {% endif %}
                        {% endif %}


                    </div>

                    <p class="lead">
                        <!---<span class="me-1">
                            <del>$200</del>
                        </span>
                        <span>$100</span>--->
                        <span><h3>{{ product.product_name }}</h3></span>
                        <span>{{ product.price }} LEI</span>
                    </p>

                    <strong><p style="font-size: 20px;">Description</p></strong>

                    <p>{{ product.desc }}</p>
                    <form class="d-flex justify-content-left" id="add-to-cart-form" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        <!-- Default input -->
                        <div class="form-outline me-1" style="width: 100px;">
                            <input type="number" value="1" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-primary ms-1 {% if product.stock <= 0 %}disabled{% endif %}" onclick="addToCart()">
                            Add to cart
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </button>
                    </form>
                </div>
                <!--Content-->
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        {% if product.additional_info != '' %}

        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

            <p>{{ product.additional_info }}</p>
            </div>
            <!--Grid column-->
        </div>
       {% endif %}
        <!--Grid row-->
        <div class="row">
            {% for image in product.productimages_set.all %}
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">
                    <img src="{{ image.image.url }}" class="img-fluid" alt="" />
                </div>
                <!--Grid column-->
            {% endfor %}
        </div>
        <!--Grid row-->


        <!--Grid row-->
    </div>
</main>


<!--Main layout-->
{% endblock %}


